
/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* khai báo font cho cả trang html */
html {
  font-family: helvetica, arial, sans-serif;
}


/* Start Header */

.app-header {
  height: 400px;
  margin-right: 36px
  /* background-color: #ccc; */
  
}

/* CSS ảnh */
.app-header-photo {

}

.app-header-photo img {
  display: block;
  width: 105%;
  margin-top: -135px;
  margin-left: -13px;
}

.app-nav-list-item {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}

/* Css cho 2 thẻ ul nằm lên cùng 1 hàng và cách nhau */
.app-header-nav {
  display:flex;
  justify-content:space-between
}

/* Css bỏ dấu chấm thẻ li */
.app-header-nav-list {
  list-style: none;
  padding-left: 0;
  z-index: 1;
  /* margin: 20px 15px 0 15px */
}

/* Css cho các thẻ li nằm trên cùng 1 hàng và cho chữ to lên*/
.app-header-nav-item, 
.app-header-nav-link {
  display: inline-block;
  font-size: 1.1rem;
  color: #4a2d57;
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.app-header-nav-and {
  text-transform: lowercase;
}
.app-header-nav-summer {
  text-decoration: none;
  color: #4a2d57;
  font-size: 1.6rem;
  font-weight: 600;
  margin-left: 57px;
}

/* Css để các chữ thẻ li cách nhau ra */
.app-header-nav-item {
  margin-right: -194px;
}

.app-header-nav-and {
  margin-right: 5px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 57px;
}


.app-header-nav-text {
  transform: translateY(-50px);
  margin-left: 225px;
}

.app-header-nav-icon {
  transform: translateY(16px);
  color:	#A9A9A9;
  margin-right: 54px;
}


.app-header-photo-title {
  font-size: 1.8rem;
  display: block;
  margin-top: -425px;
  text-align: center;
  margin-left: 218px;
  color: #fff;
  font-weight: 700;
}

.app-header-photo-title-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 869px;
  width: 256px;
  height: 53px;
  align-items: center;
  color: #fff;
  background-color: rgb(255, 255, 255, 0.05);
  opacity: 0.9;
  outline: none;
  font-weight: 600;
  border: 3px solid #fff;
  margin-top: 20px;
  cursor: pointer;
}

/* End Header */


/* Start Content */
.warp-container {
  margin-top: 1157px;
  background-color:		#FFF8DC;
  display: flex;
  justify-content:space-around;
  width: 101%;

}

.discover-text {
  display: block;
  margin-top: 300px;
  margin-left: 62px;
}

.warp-content {
  padding: 37px 10px;
  margin-top: 72px;
  flex-basis: 30%;
  margin-right: 11px;
}

.warp-content-img {
  display: block;
  width: 88%;
  margin-top: -41px;
  margin-left: 38px;
  border-radius: 3px;
}

.warp-content-shop-link {
  display: block;
  padding: 37px 10px;
  margin-top: -13px;
  flex-basis: 30%;
  margin-left: 28px;
  color: #000000;
  font-weight: 500;
}

/* End Content */


/* Start css footer */
.limitted-edition {
  display: none;
}

.footer-container {
  background-color:		#FFF8DC;
  width: 101%;
  height: 324px;

}
.footer-top {
  border-top: 2px solid #ccc;
  width: 100%;
  display: block;
  margin-top: -27px;
}
.footer-text-btn {
  display: block;
}

.footer-text-content {
  margin-top: 30px;
  margin-left: 71px;
  font-size: 1.1rem;
  font-weight: 500;
}

.footer-btn {
  display: flex;
  margin-left: 72px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-transform: uppercase;
 
}


.footer-btn-arrivals {
  width: 120px;
  background-color: #FFF8DC;
  height: 36px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
}


.footer-btn-baby {
  width: 68px;
  background-color: #FFF8DC;
  height: 36px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
}


.footer-btn-kids {
  width: 68px;
  background-color: #FFF8DC;
  height: 36px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
}

.footer-btn-look {
  width: 130px;
  background-color: #FFF8DC;
  height: 36px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
}

.footer-btn-women {
  width: 68px;
  background-color: #FFF8DC;
  height: 36px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
}

.footer-btn-sale {
  width: 60px;
  background-color: #FFF8DC;
  height: 36px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
}

.footer-btn-home {
  width: 90px;
  background-color: #FFF8DC;
  height: 36px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
}


.footer-detail {
  display: block;
}

.footer-top-line {
  border-top: 2px solid #ccc;
  width: 100%;
  display: block;
}


.footer-detail-list {
  display:flex;
  list-style: none;
  display: flex;
  list-style: none;
  margin-top: 20px;
  justify-content: center;

}

.footer-detail-list-item {
  display: block;
  margin-right: 20px;
  text-transform: uppercase;
}

.footer-detail-link {
  text-decoration: none;
  color: #000;
}


.footer-bottom-line {
  border-top: 2px solid #ccc;
  width: 100%;
  display: block;
  margin-top: 24px;
}


.footer-brand {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  margin-bottom: 30px;


}

.footer-brand span {
  font-size: 1.3rem;
  font-weight: 500;
}

.footer-brand a {
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
  cursor: text;
}

/*Start CSS cho icon */
.app-header-menu {
  display: none;
}

.app-header-nav-item-icon-list {

}

.app-header-nav-item-icon {
  display: inline-block;
  transform: translateY(18px);
}

.app-header-nav-icon-search {
  display: block;
  margin-right: 10px;
}

.app-header-nav-icon-heart {
  display: block;
  margin-right: 10px;
}

.app-header-nav-icon-lock {
  display: block;
  margin-right: 10px;
}

.app-header-nav-icon-user {
  display: block;
  margin-right: 10px;
}

/*End CSS cho icon */

/* Start màn hình 540 */
@media screen and (max-width: 540px) {
  .app-header-photo img {
    display: block;
    width: 122%;
    margin-top: -53px;
    margin-left: -14px;
}

.app-header-nav-summer {
  text-decoration: none;
  color: #4a2d57;
  font-size: 1rem;
  /* margin-bottom: 16px; */
  font-weight: 600;
  margin-left: 83px;
}

.app-header-nav-item {
  display: none;
  /* margin-right: -194px; */
}

.app-header-nav-and {
  margin-right: 5px;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 79px;
}

.app-header-nav-icon-heart {
  display: none;
  /* margin-right: 10px; */
}
.app-header-nav-icon-user {
  display: none;
  margin-right: 10px;
}

.app-header-menu {
  display: block;
  transform: translateY(-13px);
  margin-left: 58px;
  cursor: pointer;
}

.app-header-photo-title {
  font-size: 1rem;
  display: block;
  margin-top: -113px;
  text-align: center;
  margin-left: 71px;
  color: #fff;
  font-weight: 700;
}

.app-header-photo-title-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 99px;
  width: 256px;
  height: 43px;
  align-items: center;
  color: #fff;
  background-color: rgb(255, 255, 255, 0.05);
  opacity: 0.9;
  outline: none;
  font-weight: 600;
  border: 3px solid #fff;
  margin-top: 11px;
  cursor: pointer;
}

.discover-text {
  display: block;
  margin-top: 40px;
  margin-left: 76px;
}

.warp-container {
  margin-top: -24px;
  background-color: #FFF8DC;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 101%;
  /* flex-direction: column; */
  /* columns: 2; */
}

.warp-content-shop-link {
  display: block;
  padding: 37px 10px;
  margin-top: -13px;
  flex-basis: 32%;
  margin-left: 17px;
  color: #000000;
  font-weight: 500;
}

.warp-content-img-edition {
  display: block;
  margin-left: 40px;
  margin-top: -147px;
  margin-bottom: 50px;
}


.footer-detail-list {
  display: flex;
  list-style: none;
  display: flex;
  list-style: none;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  margin-left: 133px;
}




}   

/* End màn hình 540  */

@media screen and (max-width: 414px) {
  .app-header-nav-summer {
    text-decoration: none;
    color: #4a2d57;
    font-size: 1rem;
    /* margin-bottom: 16px; */
    font-weight: 600;
    margin-left: 34px;
}

.app-header-nav-and {
  margin-right: 5px;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 34px;
}

  .app-header-photo img {
    display: block;
    width: 245%;
    margin-top: -123px;
    margin-left: -225px;
}

.app-header-nav-item {
  display: none;
  margin-right: -194px;
}

.app-header-nav-icon-heart {
  display: none;
  margin-right: 10px;
}

.app-header-nav-icon-user {
  display: none;
  /* margin-right: 10px; */
}

.app-header-nav-icon-lock {
  display: block;
  margin-right: 10px;
  transform: translateY(-11px);
}

.app-header-nav-icon-search {
  display: block;
  transform: translateY(-10px);
  margin-right: 10px;
}

.app-header-menu {
  display: block;
  margin-left: 59px;
  transform: translateY(-14px);
  cursor: pointer;
}

.app-header-photo-title {
  font-size: 1rem;
  display: block;
  margin-top: -216px;
  text-align: center;
  margin-left: 70px;
  color: #fff;
  font-weight: 700;
}

.app-header-photo-title-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 71px;
  width: 256px;
  height: 48px;
  align-items: center;
  color: #fff;
  background-color: rgb(255, 255, 255, 0.05);
  opacity: 0.9;
  outline: none;
  font-weight: 600;
  border: 3px solid #fff;
  margin-top: 20px;
  cursor: pointer;
}

.discover-text {
  display: block;
  margin-top: 132px;
  margin-left: 22px;
}

.warp-container {
  margin-top: 260px;
  background-color: #FFF8DC;
  display: flex;
  justify-content: space-around;
  width: 108%;
  flex-direction: column;
}

.warp-content-img {
  display: block;
  width: 88%;
  margin-top: -41px;
  margin-left: 25px;
  border-radius: 3px;
}

.warp-content-shop-link {
  display: block;
  padding: 37px 10px;
  margin-top: -13px;
  flex-basis: 30%;
  margin-left: 17px;
  color: #000000;
  font-weight: 500;
}

.footer-container {
  background-color: #FFF8DC;
  width: 108%;
  height: 521px;
  /* flex-direction: column; */
}

.footer-text-content {
  margin-top: 30px;
  margin-left: 33px;
  font-size: 1.1rem;
  font-weight: 500;
}

.footer-btn {
  display: flex;
  margin-left: 72px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.footer-btn-look {
  width: 130px;
  background-color: #FFF8DC;
  height: 36px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.footer-btn-sale {
  width: 60px;
  background-color: #FFF8DC;
  height: 36px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.footer-btn-women {
  width: 68px;
  background-color: #FFF8DC;
  height: 36px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.footer-btn-home {
  width: 90px;
  background-color: #FFF8DC;
  height: 36px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 550;
  margin-right: 10px;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.footer-detail-list {
  display: flex;
  list-style: none;
  display: flex;
  list-style: none;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
  margin-left: 180px;
}


.footer-detail-link-about,
.footer-detail-link-customer,
.footer-detail-link-returns,
.footer-detail-link-stockists,
.footer-detail-link-instagram,
.footer-detail-link-newsletter {
  margin-bottom:10px;
}

.footer-brand {
  display: flex;
  margin-top: 18px;
  justify-content: center;
  margin-bottom: 30px;
}



}

@media screen and (max-width: 820px) {
  .app-header-photo img {
    display: block;
    width: 109%;
    margin-top: -135px;
    margin-left: -14px;
}

.app-header-nav-item {
  display: none;
  /* margin-right: -194px; */
}

.app-header-nav-icon-user {
  display: none;
  /* margin-right: 10px; */
}

.app-header-nav-icon-heart {
  display: none;
  /* margin-right: 10px; */
}

.app-header-menu {
  display: block;
  transform: translateY(-2px);
  margin-left: 57px;
}

.app-header-photo-title {
  font-size: 1.4rem;
  display: block;
  margin-top: -200px;
  text-align: center;
  margin-left: 56px;
  color: #fff;
  font-weight: 700;
}

.app-header-photo-title-btn {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 276px;
  width: 256px;
  height: 53px;
  align-items: center;
  color: #fff;
  background-color: rgb(255, 255, 255, 0.05);
  opacity: 0.9;
  outline: none;
  font-weight: 600;
  border: 3px solid #fff;
  margin-top: 20px;
  cursor: pointer;
}

.discover-text {
  display: block;
  margin-top: 98px;
  margin-left: 43px;
}

.warp-container {
  margin-top: 250px;
  background-color: #FFF8DC;
  display: flex;
  justify-content: space-around;
  width: 101%;
}

.warp-container {
  margin-top: 250px;
  background-color: #FFF8DC;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 101%;
  /* flex-direction: column; */
  /* columns: 2; */
}

.warp-content {
  display: flex;
  flex-wrap: wrap;
  padding: 54px 15px;
  margin-top: 72px;
  flex-basis: 48%;
  margin-right: 11px;
  display: flex;
  /* flex-direction: column; */
}

.warp-content-img {
  display: block;
  width: 75%;
  margin-top: -41px;
  margin-left: 41px;
  border-radius: 3px;
}


.warp-content-img-edition {
  display: block;
  margin-left: -170px;
  margin-top: -147px;
  margin-bottom: 50px;
}

.warp-content-shop-link-edition {
  display: none;
  /* margin-top: 22px; */
}


.limitted-edition {
  display: block;
  margin-top: 150px;
  margin-left: -274px;
  font-size: 1.3rem;
  text-decoration: underline;
}

.footer-text-content {
  margin-top: 30px;
  margin-left: 54px;
  font-size: 1.1rem;
  font-weight: 500;
}

.footer-btn {
  display: flex;
  margin-left: 57px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

}